<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ category.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
</head>

<body class="light-mode">

    <!-- رأس الصفحة -->
    <header>
      <h1>مرحبًا بكم في موقع ابو مؤيد للمظلات والمخيمات</h1>

        <div class="header-buttons">
            <a href="/" class="back-button">العودة للصفحة الرئيسية</a>
        </div>
    </header>

    <!-- مقدمة القسم -->
    <section class="category-intro">
        <div class="intro-content">
            <h2>{{ category.name }}</h2>
            <p>{{ category.details }}</p>
        </div>
    </section>

    <!-- الفروع التابعة -->
    <section class="subcategories">
        {% for sub in category.subcategories %}
        <div class="category-card">
            <div class="image-container" onclick="openLightbox('{{ url_for('static', filename='images/' + sub.image) }}')">
                <img src="{{ url_for('static', filename='images/' + sub.image) }}" alt="{{ sub.name }}">
            </div>
            <div class="subcategory-info">
                <h3>{{ sub.name }}</h3>
                <p>{{ sub.details }}</p>
                <a href="/subcategory/{{ category_id }}/{{ loop.index0 }}" class="details-button">عرض التفاصيل</a>
            </div>
        </div>
        {% endfor %}
    </section>

    <!-- زر العودة للأعلى -->
    <a href="#" class="floating-button">⬆️</a>

    <!-- Lightbox لعرض الصورة -->
    <div id="lightbox" class="lightbox" onclick="closeLightbox()">
        <img id="lightbox-img" src="" alt="صورة مكبرة">
    </div>

    <!-- تذييل الصفحة -->
    <footer>
    <p>جميع الحقوق محفوظة &copy; 2025 - 
       ابو مؤيد</p>
    </footer>

</body>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>
